<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DenseBLAS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>QRAlgorithm.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SparseCholesky.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Tensors.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>UnitTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Unit_Test_SpMM.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AF5D050A2B52F09000E946CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF8BDDDE295A1FBD001D8CCF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF9A9285298E5BF600242813</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFD9EA0829337F7E00FC8A85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFFAC623298ECE5800A2CF4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
